footer {
    height: auto; //8rem;
    padding: 2rem 4rem;
    font-size: 12px;
    background-color: #e9ecef;
    li {
        //width: 967px;
        //height: 28px;
        color: rgb(84, 84, 93);
        font-size: 13px;
        font-family: "HelveticaNeue", sans-serif;
        //letter-spacing: 0px;
        line-height: 28px;
    }
    .logo {
        height: 4rem;
        width: 12rem;
    }
}