<footer>
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10"> <!-- mt-md-0 mt-3-->
                <p>{{copyrightThermofisher}}</p>
                <!-- <ul style="list-style: none; display: flex; padding-left: 0; justify-content: space-between;">
                    <li *ngFor="let link of footerLinks">
                        <a href="{{link.linkURL}}">{{link.linkName}}</a>
                    </li>
                </ul> -->
            </div>
            <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
            <div class="col-xs-12 col-sm-12 col-md-2"> <!-- mb-md-0 mb-3--> <!-- display: flex; justify-content: center; align-self: center;-->
                <!-- <p>Thermofisher logo</p>  -->
                <img src="{{logoTF}}" alt="ThermoFisher logo" class="logo">
            </div>
        </div>
    </div>
</footer>