<div class="container">
  <section id="intro" class="mt-5">
      <div class="">
        <p class="title">Intro Headline Here</p>
        <p class="intro-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus totam magnam porro harum odit, provident inventore voluptatibus ipsa explicabo reprehenderit error minus hic. Distinctio esse, rem neque vitae incidunt eos?</p>
        <div class="row">
            <div class="col-md-3">
              <div class="feature-card">
                  <span class="icon-box1"></span>
                  <p class="feature-title">Products Catalog</p>
                  <hr class="divider">
                  <p class="feature-desc">Ensuring proper practices and ethics throughout our business and relationships</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="feature-card">
                  <span class="icon-box2"></span>
                  <p class="feature-title">Decision Tree</p>
                  <hr class="divider">
                  <p class="feature-desc">Ensuring proper practices and ethics throughout our business and relationships</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="feature-card">
                  <span class="icon-box3"></span>
                  <p class="feature-title">COE</p>
                  <hr class="divider">
                  <p class="feature-desc">Ensuring proper practices and ethics throughout our business and relationships</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="feature-card">
                  <span class="icon-box4"></span>
                  <p class="feature-title">About us</p>
                  <hr class="divider">
                  <p class="feature-desc">Ensuring proper practices and ethics throughout our business and relationships</p>
              </div>
            </div>
        </div>
      </div>
  </section> 
    
  <section id="horizontal-card" class="mt-5">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/img/hero.jpg" alt="Image description" style="width: 100%; height: 100%;" />
        </div>
        <div class="col-md-6">
          <p class="title">Our Approach</p>
          <p class="description">Reflecting our commitment to humanity, our stakeholders and to the environmental, social, and governance issues, we focus our CSR approach in our four key pillars that are aligned woth our bussines model, strategy and values.</p>
          <button class="btn btn-container">
            Learn more
            <span><i class="icon-box"></i></span>
          </button>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <p class="title">Our Approach</p>
          <p class="description">Reflecting our commitment to humanity, our stakeholders and to the environmental, social, and governance issues, we focus our CSR approach in our four key pillars that are aligned woth our bussines model, strategy and values.</p>
          <button class="btn btn-container">
            Learn more
            <span><i class="icon-box"></i></span>
          </button>
        </div>
        <div class="col-md-6">
          <img src="../../assets/img/hero.jpg" alt="Image description" style="width: 100%; height: 100%;" />
        </div>
      </div>
  </section>
</div>

<!-- Top Button Component -->
<app-top-button></app-top-button>
