<section > <!-- style="clear: both;"-->
    <div class="guide-image" [ngClass]="{'fades': heroFades}">
      <!-- <p style="height: 25px; color: rgb(255, 255, 255); font-size: 16px; font-family: HelveticaNeue-Bold; font-weight: bold; text-align: center; letter-spacing: 0px; line-height: 25px;padding-top: 5rem; margin-bottom: 2.5rem;">
        {{productDetail.homepage}}
      </p> -->
      <p style="height: 25px; color: rgb(255, 255, 255); font-size: 16px; font-family: HelveticaNeue-Bold; font-weight: bold; text-align: center; letter-spacing: 0px; line-height: 25px;padding-top: 5rem; margin-bottom: 2.5rem;">
        <a href="{{productDetail.homepage}}" target="_blank" class="guide-text">
            {{bannerTitle}}
        </a>
      </p>
      <hr>
    </div>
</section> 