<!-- Overview content -->
<div style="height: 5rem;"></div>
<section *ngIf="productDetail" id="contentSection">  <!-- class="content"  -->
    <div class="container">
        <div class="overview-container">
            <p class="product-title" [style.marginTop]="mgTop ? '7rem' : 'auto'">{{productDetail.title}}</p> <!-- STYLE!-->
            <p class="product-content">{{productDetail.content}}</p>
        </div>
    
        <ng-container *ngIf="videoUrl"> <!-- *ngIf="videoUrl" -->
            <div class="video-container">  
                <div class="player"> <!-- style="display: flex; justify-content: center;"-->
                    <youtube-player *ngIf="isYouTubeLink(videoUrl); else videoLink"
                    videoId="{{getVideoId(videoUrl)}}" 
                    suggestedQuality="highres" 
                    [height]="heightVideo" 
                    [width]="widthVideo" 
                    [startSeconds]="4">
                    </youtube-player>
                    
                    <ng-template #videoLink>
                        <!-- <h1>{{videoUrl}}</h1> -->
                        <!-- Phillip advice Works for Matterport -->
                        <iframe width="100%" height="480" [src]="videoUrl | safe: 'resourceUrl'" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe>
                        <!-- works
                            <iframe width="853" height="480" [src]="'https://my.matterport.com/show/?m=eBGNgkAs4xh' | safe: 'resourceUrl'" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe> -->
                        <!-- <video [src]="videoUrl | safe: 'resourceUrl'" controls></video>  -->
                        <!-- <iframe [src]="'videoUrl' | safe: 'resourceUrl'" allowfullscreen frameborder=0></iframe> -->
                    </ng-template>    
                </div>
            </div>
            <div *ngIf="productDetail.videoCaption" class="caption-video">
                <p class="product-caption">{{productDetail.videoCaption}}</p> <!-- STYLE!-->
            </div>
        </ng-container>
    </div>
</section> 